body{
 background-color: #fff;
}

  .jumbotron {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    /* background-color: #444; */
    color:#fff; 
    padding: 25px;
   }

   .container{
    min-height: 375px;
   }

   .card h2{
     font-size: 3.5em;
   }

  table{
    width: 100%;    
  }

  td {
    vertical-align: top;
  }

  .form-control{
    margin: 2px;
  }

  .bg-info td {
    color: white;
    font-weight: bold;
  }

  .card-body a {
    display: block;
  }

.results a {
  font-size: 0.7em;
}

.pointer {
  cursor: pointer;
}

.form-control {
  font-weight: bold;
  color: navy;
}
.form-control:disabled{
  background-color: inherit !important;
  border: none;
}


a:hover{
  text-decoration: none;
}

input:read-only{
  background-color: transparent !important;
  border: none;
}

.footer {
  border-top: 1px solid silver;
  padding: 20px;
  margin-top: 60px;
}

#frmSearch {
  display: inline-block;
}
#frmSearch input{
  display: inline;
  width: auto;
}

@media only screen and (max-width: 40em) {
  thead th:not(:first-child) {
      display: none;
  }

  td, th {
      display: block;
      border: 0px !important;
      padding: 0px !important;
  }

  th:not(:first-child){
    display:none;
  }

  td:first-child{
    border: 1px solid silver !important;
  }

  td[data-th]:before  {
      content: attr(data-th);
  }
}